target/
!src/main/resources/jenkinsci/plugins/influxdb/models/Target

*.swp
pom.xml.releaseBackup
work/
release.properties
.idea
*.iml
.DS_Store
changes.txt

# Local VS code created hidden directories
.classpath
.factorypath
.project
.settings/
.vscode/
